# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Unwanted files and folders
src/Debug
src/Release
*.exe
*.opensdf
*.suo
*.sdf